.myTable{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.teraTable{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.kisikaTable{
    color: rgb(88, 88, 245);
    text-align: center;
}